modules = ["nodejs-20", "python-3.12", "web"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Start Full Stack App"

[[workflows.workflow]]
name = "Start Full Stack App"
author = 42446160
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd Flask_Server && python run.py"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd Client_Interface && npm run dev"
